.m-text {
  color: var(--color-black-body);
  font-weight: 500;
  margin: 0;

  &.m-text {
    &--micro {
      color: var(--color-black-light);
      font-size: 12px;
      font-weight: 400;
    }

    &--title {
      color: var(--color-black);
      font-size: 16px;
    }

    &--subtitle {
      color: var(--color-black-medium);
      font-size: 16px;
    }
  }
}