@import '../../assets/scss/constants/screen';

.page-scheduling {
  display: grid;
  gap: var(--space-md);
  grid-template-areas:
    'social-area'
    'date-area'
    'text-area'
    'media-area'
    'button-area';
  height: 100%;

  @media(min-width: $screen-lg) {
    gap: var(--space-xl);
    grid-template-areas:
      'social-area date-area preview-area'
      'text-area text-area preview-area'
      'media-area media-area preview-area';
    grid-template-columns: repeat(2, minmax(280px, 1fr)) minmax(300px, 2fr);
    padding-bottom: 60px;
  }

  .page-scheduling__social-card {
    grid-area: social-area;

    .m-card__content {
      display: grid;
      gap: var(--space-md);
      grid-auto-flow: column;
      justify-content: center;
    }
  }

  .page-scheduling__date-card {
    grid-area: date-area;

    .m-card__content {
      display: grid;
      grid-auto-flow: column;
      gap: var(--space-lg);
      justify-content: space-between;

      .m-date-picker .react-date-picker .react-date-picker__wrapper {
        width: 110px;
      }

      .m-time-picker .react-time-picker .react-time-picker__wrapper {
        width: 110px;
      }
    }
  }

  .page-scheduling__post-text-card {
    grid-area: text-area;
  }

  .page-scheduling__media-card {
    grid-area: media-area;
  }

  .page-scheduling__preview-card {
    display: none;

    @media(min-width: $screen-lg) {
      display: block;
      grid-area: preview-area;

      .page-scheduling__preview-container {
        align-items: center;
        display: flex;
        height: calc(100% - (var(--space-st) * 2));
        max-width: 100%;
        overflow-x: auto;

        .page-scheduling__preview-post {
          margin-right: var(--space-lg);
        }
      }
    }
  }

  .page-scheduling__preview-button {
    grid-area: button-area;
    height: fit-content;

    @media(min-width: $screen-lg) {
      display: none;
    }
  }

  .page-scheduling__action-bar {
    background-color: var(--color-contrast);
    bottom: 0;
    display: grid;
    gap: var(--space-md);
    grid-auto-flow: column;
    justify-content: end;
    left: 0;
    padding: var(--space-sm) var(--space-xl);
    position: fixed;
    width: 100%;
  }

  .page-scheduling__modal {
    align-items: center;
    background-color: var(--color-contrast);
    border-radius: var(--border-radius);
    border: var(--border-default);
    display: flex;
    gap: var(--space-md);
    height: 420px;
    justify-content: center;
    position: fixed;
    width: 350px;

    @media(min-width: $screen-lg) {
      height: 420px;
      width: 800px;
    }
  }
}