.m-card {
  background-color: var(--color-contrast);
  border-radius: var(--border-radius);
  border: var(--border-default);

  .m-card__title {
    border-bottom: var(--border-default);
    padding: var(--space-sm);
  }

  .m-card__content {
    height: calc(100% - (var(--space-st) * 2));
    padding: var(--space-st);
  }
}