.m-link {
  color: var(--color-primary);
  font-size: var(--font-size-md);
  text-decoration: none;

  &:focus, &:active {
    text-decoration: underline;
  }

  &.m-link {
    &--active {
      text-decoration: underline;
    }
  }
}