@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import './assets/scss/index.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--color-base);
  color: var(--color-black-body);
  display: flex;
  font-family: Poppins;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
