
@import './assets/scss/index.scss';

*, *::before, *::after {
  box-sizing: border-box;
  font-family: var(--font-family-default);
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  align-items: center;
  background-color: var(--color-base);
  color: var(--color-black-body);
  display: flex;
  font-size: var(--font-size-md);
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}
