@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  font-family: Poppins;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
