$button-variants:
  'primary' var(--color-primary) var(--color-primary-light) var(--color-primary-dark-transparent),
  'secondary' var(--color-secondary) var(--color-secondary-light) var(--color-secondary-dark-transparent);

.m-button {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: var(--font-size-lg);
  outline: none;
  padding: var(--space-sm);
  transition-duration: var(--animation-duration-fast);

  &:hover {
    background-color: var(--color-primary-light-transparent);
  }

  &:focus {
    background-color: var(--color-primary-dark-transparent);
  }

  &.m-button {
    @each $variant, $base, $hover, $outline in $button-variants {
      &--#{$variant} {
        background-color: $base;
        color: var(--color-contrast);
        padding: var(--space-sm) var(--space-md);

        &:hover {
          background-color: $hover;
        }

        &:focus {
          box-shadow: 0 0 0 3px $outline;
      }
      }
    }

    &--outlined {
      background-color: var(--color-contrast);
      border: 1px solid var(--color-primary);
      padding: var(--space-sm) var(--space-md);

      &:hover {
        background-color: var(--color-primary-light-transparent);
      }

      &:focus {
        box-shadow: 0 0 0 3px var(--color-primary-dark-transparent);
      }
    }

    &--disabled {
      pointer-events: none;
    }

    &--icon {
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 42px;
      justify-content: center;
      padding: 0;
      width: 42px;
    }
  }
}